<!--Banner-->

<div class="gcb-banner">
  <div class="gcb-banner-block">
    <div class="gcb-banner-icon"><img src="../assets/img/banner/1Course_Summary.png" /></div>
    <p class="gcb-banner-title">MOOC Summary</p>
    <!--  	<div class="gcb-banner-img"><img src="../assets/img/Banner-Img1.png"/></div>-->
    <p class="gcb-banner-content"> This FREE MOOC (Massive Open Online Course) investigates the use of clouds running data analytics collaboratively for processing Big Data to solve problems in Big Data Applications and Analytics. Case studies such as Netflix recommender systems, Genomic data, and more will be discussed.</p>
    <p class="gcb-banner-content" id="gcb-banner-course-marterial"><span class="banner-content-bold">Download Course Material:</span> <a href="https://www.dropbox.com/s/70zjo4jgl808mg1/Big_Data_Syllabus.pdf" title="Big Data Applications and Analytics MOOC Syllabus" target="_blank">syllabus</a>, <a href="https://www.dropbox.com/s/2p2zj9jbywcb76u/Course_Slides.pdf" title="Big Data Applications and Analytics MOOC Slides" target="_blank">slides</a>, <a href="https://www.dropbox.com/s/w6rv4rr7qron2u4/Python%20Files.zip" title="Big Data Applications and Analytics MOOC Files" target="_blank">python files</a> , or <a href="https://www.dropbox.com/s/htvr0l9d6g2gl71/Big_Data_Course_Material.zip" title="Course Materials" target="_blank">all in one zip file</a> </p>
  </div>
  <div class="vertical-line"></div>
  <div class="gcb-banner-block">
    <div class="gcb-banner-icon"><img src="../assets/img/banner/2Who.png" /></div>
    <p class="gcb-banner-title">What should you know</p>
    <!--<div class="gcb-banner-img"><img src="../assets/img/Banner-Img2.png"/></div>-->
    <p class="gcb-banner-content"> Anybody having the desire to learn about Big Data! No programming required. The graded undergraduate and graduate versions for IU students will be based and/or extended from this MOOC. <span class="banner-content-bold"> Want to Know More?</span><br>
    <ul class="gcb-banner-content">
      <li>Click on +'s to left of each section bar below</li>
      <li>Do a no-obligation enroll and view Section 1 Introduction and Motivation</li>
    </ul>
    </p>
  </div>
  <div class="vertical-line"></div>
  <div class="gcb-banner-block">
    <div class="gcb-banner-icon"><img src="../assets/img/banner/4badge_icon.png" /></div>
    <p class="gcb-banner-title">Earn Badges</p>
    <!--<div id ="banner-Img4" class="gcb-banner-img"><img src="../assets/img/Banner-Img4.png"/></div>-->
    <p class="gcb-banner-content">In this free MOOC, you will earn <a href="http://openbadges.org/about/" title="Mozilla OpenBadges" target="_blank">badges</a> that will be permanently stored in your backpack. While there is no grade assigned in this course, you will get an opportunity to learn at your own pace by reviewing peer assignment(s) or homework(s). </p>
  </div>
  <div class="horizontal-line"></div>
  <div class="gcb-banner-block">
    <div class="gcb-banner-icon"><img src="../assets/img/banner/5Discuss.png" /></div>
    <p class="gcb-banner-title">Discuss & Interact</p>
    <!--<div id ="banner-Img4" class="gcb-banner-img"><img src="../assets/img/Banner-Img4.png"/></div>-->
    <p class="gcb-banner-content">Entire course discussion will take place on the <a href="https://plus.google.com/u/0/communities/100002091471057833120" title="Big Data Applications and Analytics MOOC Community/Forum" target="_blank">Google Plus Community Forum</a> in different streams. You will also get a chance to interact with the instructor using Hangouts On Air while asking live questions.</p>
  </div>
  <div class="vertical-line" id="gcb-banner-vertical-line-1"></div>
  
  <!--  
  <div class="gcb-banner-block">
    <div class="gcb-banner-icon"><img src="../assets/img/banner/6Course_Material.png" /></div>
    <p class="gcb-banner-title">Course Materials</p>
  

  </div>
  -->
  
  <div class="gcb-banner-block">
    <div class="gcb-banner-icon" ><img id="gcb-iu-icon" src="../assets/img/banner/7IU.png" /></div>
    <p class="gcb-banner-title">Are you an IU student? (Indiana University)</p>
    <p class="gcb-banner-content" id="gdb-banner-iu-students"> There are three additional courses using CGLMooc technology and sharing some content. These other courses are limited enrollment and have rigorous admission and grading and offer IU credits.<br>
    </p>
    <div id="gcb-banner-table"></div>
  </div>
  <div class="last-banner"></div>
</div>
<div id="gcb-banner-mooc-tech">
  <div id="gcb-banner-tech-icon"><img id="gcb-banner-tech-icon-style"src="../assets/img/banner/3Programming.png" /></div>
  <p class="gcb-banner-title" id="gcb-banner-tech-title">MOOC Technology</p>
  <p class="gcb-banner-content" id="gdb-banner-tech-content"> This course uses CGLMooc and Google Course Builder technology. This supports either large scale MOOC's or traditional classes using same delivery model: Video, Google+ discussions, resources and homework integrated into class.</p>
</div>
<!-- End Banner-->