<div id="ca-container" class="ca-container">
    <div class="ca-wrapper">
      <div class="ca-item ca-item-1">
        <div class="ca-item-main">
          <div class="ca-icon">
            <h3>1. MOOC Summary</h3>
          </div>
          <h4> 
            <span>This FREE MOOC (Massive Open Online Course) investigates the use of clouds running data analytics collaboratively for processing Big Data to solve problems in Big Data Applications and Analytics. Case studies such as Netflix recommender systems, Genomic data, and more will be discussed. Download Course Material: <a href="https://www.dropbox.com/s/70zjo4jgl808mg1/Big_Data_Syllabus.pdf" title="Big Data Applications and Analytics MOOC Syllabus" target="_blank">syllabus</a>, <a href="https://www.dropbox.com/s/jk4h7h3641hgswm/Big_Data_Course_Slides.pdf" title="Big Data Applications and Analytics MOOC Slides" target="_blank">slides</a>, <a href="https://www.dropbox.com/s/w6rv4rr7qron2u4/Python%20Files.zip" title="Big Data Applications and Analytics MOOC Files" target="_blank">python files</a> , or <a href="https://www.dropbox.com/s/htvr0l9d6g2gl71/Big_Data_Course_Material.zip" title="Course Materials" target="_blank">all in one zip file</a> </span> </h4>
        </div>
      </div>
      <div class="ca-item ca-item-2">
        <div class="ca-item-main">
          <div class="ca-icon">
            <h3>2. Enroll</h3>
          </div>
          <h4> 
            <span> <b><a href="register" title="Enroll" target="_self">Enroll</a> to watch the videos. It only takes a few seconds and a gmail account. No commitment required.</b> The graded undergraduate and graduate versions for IU students will be based and/or extended from this MOOC. Click on +'s to left of each section bar below to read unit overviews. Do a no-obligation enroll to view Section 1 units on Introduction and Motivation. </span> </h4>
          </div>
        
      </div>
      <div class="ca-item ca-item-3">
        <div class="ca-item-main">
          <div class="ca-icon">
            <h3>3. Earn Badges</h3>
          </div>
          <h4> 
            <span>In this free MOOC, you will earn <a href="http://openbadges.org/about/" title="Mozilla OpenBadges" target="_blank">badges</a> that will be permanently stored in your Mozilla backpack. While there is no grade assigned in this course, you will get an opportunity to learn at your own pace by reviewing peer assignment(s) or homework(s).</span> </h4>
          </div>
        
      </div>
      <div class="ca-item ca-item-4">
        <div class="ca-item-main">
          <div class="ca-icon">
            <h3>4. Discuss &amp; Interact</h3>
          </div>
          <h4> 
            <span>Entire course discussion will take place on the <a href="https://plus.google.com/u/0/communities/100002091471057833120" title="Big Data Applications and Analytics MOOC Community/Forum" target="_blank">Google Plus Community Forum</a> in different streams. You will also get a chance to interact with the instructor using Hangouts On Air that will be broadcast to the world while getting an opportunity to live questions.</span> </h4>
          </div>
        
      </div>
      <div class="ca-item ca-item-5">
        <div class="ca-item-main">
          <div class="ca-icon">
            <h3>5. MOOC Technology</h3>
          </div>
          <h4> 
            <span>This course uses CGLMooc and Google Course Builder technology. This supports either large scale MOOC's or traditional classes using same delivery model: Video, Google+ discussions, resources and homework integrated into class.</span> </h4>
          </div>
        
      </div>
      <div class="ca-item ca-item-6">
        <div class="ca-item-main">
          <div class="ca-icon">
            <h3>6. Other Courses</h3>
          </div>
          <h4> 
            <span>There are three additional courses using CGLMooc technology and sharing some content. These other courses are limited enrollment and have rigorous admission and grading and offer IU credits. See <b>IU Student?</b> for details.</span> </h4>
		</div>
      </div>
      <div class="ca-item ca-item-7">
        <div class="ca-item-main">
          <div class="ca-icon">
            <h3>7. IU Student?</h3>
          </div>
          <h4> 
            <span>I400 Undergraduate class for residents will have enhanced content, Python, conventional grading.<br />I590 Graduate class for residents: further enhanced content, Java and Python, conventional grading.<br />Data Science Graduate class for remote students: further enhanced content, Java and Python, IU course credit with normal grading.</span> </h4>
		</div>
      </div>
    </div>
  </div>

<script type="text/javascript">
	$('#ca-container').contentcarousel({
    // speed for the sliding animation
	sliderSpeed     : 500,
	// easing for the sliding animation
	sliderEasing    : 'easeOutExpo',
	// speed for the item animation (open / close)
	itemSpeed       : 500,
	// easing for the item animation (open / close)
	itemEasing      : 'easeOutExpo',
	// number of items to scroll at a time
	scroll          : 3
	});
</script>