<div class="gcb-footer" id="gcb-footer">
    <div class="gcb-footer-background">
        <div class="footer-unregistered-div">
            <h3>Important Links</h3>
            <ul>
            <li><a href="mailto:cglmoocs@gmail.com">Contact Us</a></li>
            <li><a href="/team">Team</a></li>
            <li><a href="https://docs.google.com/forms/d/1AmWq72NyReLLafxdXmblCUIQKlfsd4_q6lfGIi31ZEU/viewform" title="Big Data MOOC" target="_blank">Tell us what you think</a></li>
            <li><a href="faq" target="_self">FAQs</a></li>
            </ul>
        </div>
        <div class="footer-unregistered-div">
            <h3>Other MOOCS at Indiana University</h3>
            <ul>
            <li><a href="https://iucloudsummerschool.appspot.com" target="_blank">Cloud MOOC Repository</a></li>
            <li><a href="https://fgmoocs.appspot.com/explorer" target="_blank">Future Grid MOOCs</a></li>
            <li><a href="http://www.indiana.edu/~booc/" target="_blank">Educational Assessment BOOC</a></li>
            <li><a href="http://ivmooc.appspot.com" target="_blank">Information Visualization MOOC</a></li>
            </ul>
        </div>
        <div class="footer-unregistered-div">
        </div>
    </div>
</div>
<div id="footer_text">
    <p>
        Powered by Open Source CGLMooc Technology built on
        <a href="https://code.google.com/p/course-builder/" title="Google Course Builder" target="_blank">Google Course Builder</a>
    </p>
</div>