<style>
.box, .box .antiscroll-inner {
    width: 474px;
    height: 340px;
}
.antiscroll-wrap-inst {
    overflow: hidden;
    position: relative;
    display: block !important;
}
</style>
<div class="antiscroll-wrap-inst">
  <div class="box">
    <div class="antiscroll-inner">
      <div class="box-inner">
        <div class="instructor"> <img src="assets/img/{{ instructor_image }}" class="instructors-pic" title="{{ instructor_image_alt }}" alt="{{ instructor_image_alt}}" role="presentation" />
          <div id="summaryinstructor">
            <p class="summary-text"><span class="importance">Instructor</span></p>
            <p class="summary-text">{{ instructor_details | safe }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
/* OS X Lion style cross-browser native scrolling: https://github.com/LearnBoost/antiscroll */
$(function() {
    $(".antiscroll-wrap-inst").antiscroll();
});
</script>
