{% extends 'base_course.html' %}

{% block top_content %} 
<script>
    {# I18N: This is shown to the student in a popup after registration. #}
    var regConfirmationMsg = "{{ gettext('Thank you for registering for the course. Click the Announcements tab for important information.') }}";
    if(window.location.hash == '#registration_confirmation') {
      cbShowMsg(regConfirmationMsg);
      setTimeout(function() {cbHideMsg();}, 20000);
    }
    {# I18N: This is shown to the student in a popup if registrations for the course are not open. #}
    var regClosedMsg = "{{ gettext('Registrations for this course are not open.') }}";
    if(window.location.hash == '#registration_closed') {
      cbShowMsg(regClosedMsg);
      setTimeout(function() {cbHideMsg();}, 20000);
    }
  </script>
<div class="gcb-cols banner">
	{% include 'banner.html' %}
</div>

<div class="gcb-cols">
	<div id="summary-instructor">
        {% include 'summary.html' %}
        {% include 'instructor.html' %}
    </div>
</div>

<div class="gcb-cols syllabus">
    <h2><a href="https://www.dropbox.com/s/70zjo4jgl808mg1/Big_Data_Syllabus.pdf" title="Course Syllabus" target="_blank">Course Syllabus</a> (<a href="https://www.dropbox.com/s/70zjo4jgl808mg1/Big_Data_Syllabus.pdf" title="Course Syllabus" target="_blank">PDF</a>)</h2>
    
    <div class="syllabus-image">
        <img src="/assets/img/syllabus.png" />
    </div>
</div>

<div class="gcb-cols">
	{% include 'course_structure_preview.html' %} 
</div>
{% endblock %}
{% block main_content %}{% endblock %}